.wrapper {
  @media only screen and (min-width: 768px) {
    background: url('./assets/hero_bg.png');
    background-size: cover;
    background-position:center;
    position: inherit;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(61, 72, 116, 0.8);
  }
  @media only screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 100px;
    // background: url('./assets/hero_bg.png');
    // background-size: cover;
    // background-position:center;
    // position: inherit;
    // background-attachment: fixed;
    // box-shadow: inset 0 0 0 1000px rgba(61, 72, 116, 0.8);
  } 
}

.photo {
  width: 270px;
  @media only screen and (min-width: 768px) {
    width: 100%;
  }
}

.heroWrapper {
  background: #F1F1F1;
  @media only screen and (min-width: 768px) {
    transform: translateY(112px);
    height: 540px;
    width: 940px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  @media only screen and (max-width: 767px) {
    transform: translateY(56px);
    height: 650px;
    width: 270px;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // 
  }
}

.content {
  @media only screen and (min-width: 768px) {
    padding-top: 83px;
    padding-left: 83px;
  }
}

.social {
  background: #172053;
}

.title {
  color: #182153;
}
